@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Desafio crud em .NET core</h1>
    <p>
        Este desafio faz parte do processo seletivo para Desenvolvedor no Rueda & Rueda Advogados.

        O desafio, consiste em, Desenvolver um CRUD, (CREATE, REMOVE, UPDATE, DETAILS) em .NET CORE 2.2, Entity Framework e SQL Server.
        </p>
    <strong>Para isso é necessário:</strong>
        <ul>
            <li>1- Instalação do Visual Studio Comunnity Editon 2019</li>
            <li>2- Instalação do SDK .NET CORE 2.2</li>
            <li>3- Criação de Projeto Aplicativo Web ASP MVC.</li>
        </ul>
    <p>
        O sistema do desafio consistirá em um cadastro de Pessoas com idade maior que 18 anos e menor que 60 anos
        para cadastrar a Pessoa será necessário: Nome Completo, Data de Nascimento e Salário.
    </p>
</div>
